/*----GOOGLE FONTS----*/
@import url('https://fonts.googleapis.com/css2?family=Inter');

/*===================== VARIANTS =====================*/
:root{ 
    /*----COLORS---*/
    --first-color: #312573;
    --first-color-second: #C9C3EB ;
    --text-color: #1C1643;
    --text-color-second: #7665E4;
    --text-color-lighter: #F9F8FD;
    --body-color: #F9F8FD;

    /*----TYPOGRAPHY---*/
    --body-font:'Inter Tight', sans-serif;

    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --h4-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smaller-font-size: 12px;

    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/* =====================  GENERAL =====================  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    display: flex;
    height: 100%;
    background-color: var(--body-color);

}

button, input, select {
    font-size: var(--small-font-size);
    padding: 8px 15px;
    border-radius: 10px;
}

input, select{
    border: 1.5px solid var(--first-color-second);
}

select{
    width: 120px;
}

input::placeholder{
    color: var(--text-color-second);
}

.default-button{
    background-color: var(--first-color);
    color: #FFFFFF;
}

icon-button {
    pointer-events: none;
}

input:focus{
    border: var(--first-color);
}

i{
    pointer-events: none;
}
/* =====================  SIDEBAR =====================  */
.sidebar{
    background-image: url(../images/SideBarBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    position: fixed ;
    height: 100%;
}

.sidebar-content{
    padding: 80px 40px;
}

.user-header{
    display: flex;
    align-items: center;
}

.user-header img {
    width: 65px;
    border-radius: 100%;
}

.user-hello{
    margin-left: 10px;
}

.user-hello h4{
    font-size: var(--normal-font-size);
    font-weight: 400;
    color: var(--text-color);
}

.user-hello h2{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
}

/* ===================== MAIN CONTENT ===================== */

div.main-content{
    margin-left: 250px;
    padding: 0px 135px;
    width: 100%;
    height: 100%;
}

.main-content header{
    box-sizing: border-box;
    margin-top: 80px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 0px;

    border-bottom: 0.5px solid #989898;
}

header #toolbar{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#search input{
    border: 1.5px solid var(--first-color-second);
}


.main-content .actions{
    margin: 48px 115px;
}

.main-content .form-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}

.addNewTask input{
    width: 75%;
}

.addNewTask button{
    width: 25%;
}


/*---- TASKS ---*/

.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 11px 20px;
    margin-bottom: 20px;

    background: #FFFFFF;
    border: 1px solid rgba(217, 217, 217, 0.3);
    border-radius: 14px;
}

.task .check-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.check-name button{
    padding: 5px;
    border: 1px solid #989898;
    border-radius: 13px;
    background-color: #F9F8FD;
}

.check-name i {
    padding: 0 0.5px;
    color: #F9F8FD;
}

.check-name h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;

}

.task .controls{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-controls button{
    border: none;
    background-color: transparent;
}

.task-controls  i{
    color: var(--text-color);
}

/*-- DONE --*/
.done{
    background-color: #f4f4f4;
}

.done h3{
    text-decoration: line-through;
    font-style: italic;
    color: #7A7A7A;
}
.done i {
    color: #7A7A7A;
}

.done .check-name i {
    color: var(--text-color);
}

/* ================= HIDE ================= */
.hide{
    display: none;
}